<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
      <header>
          <% include ../partials/header %>
      </header>
       <div class-"container col-md-12 col-sm-12">
            <div class="row">
            <main>
                <img class="col-md-6 col-sm-12" src="/images/restaurante.jpg"/>
                <p>SISTEMA DE CADASTRO DE RESTAURANTES</p>
            </main>
            </div>
        </div>
      <footer>
          <% include ../partials/footer %>
      </footer>
      
  </body>
</html>
